
#primero, #tercero {
  background-color: rgb(247,182,23);
  height: 100px;
  width: 200px;
  display: inline-block;
  padding: 5px;
}

#segundo {
  background-color: rgb(43,43,43);
  height: 100px;
  width: 200px;
  display: inline-block;
  color: rgb(255, 255, 255);
  padding: 5px;
}
